* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

header,
main {
  display: flex;
  outline: 1px dotted red;
}

header {
  justify-content: space-between;
  height: 10%;
  align-items: center;
}

main {
  gap: 15px;
  height: 90%;
}

#library-container {
  display: flex;
  flex: 2;
  outline: 1px dotted red;
  gap: 10px;
}

.book-card {
  outline: 1px dotted red;
  height: 200px;
  width: 200px;
}

.new-book-display {
  flex: 3;
  position: relative;
}

#new-book {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
