* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #d3d4d9;
}

header,
main {
  display: flex;

}

header {
  justify-content: space-between;
  height: 10%;
  align-items: center;
  padding: 0px 20px;
  background-color: rgba(156, 113, 120, 0.5);
}

main {
  gap: 15px;
  height: 90%;
}

#library-container {
  display: flex;
  flex: 2;

  gap: 10px;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.book-card {
  flex: 0 0 45%;

  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px;
  background-color: rgba(75, 136, 162, 0.5);

}

.card-actions {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.new-book-display {
  flex: 3;
  position: relative;
}

#new-book {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#book-form {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  background-color: rgba(156, 113, 120, 0.5);
}

#dialog-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 5px;

}
